# dependencies
node_modules
npm-debug.log
yarn-error.log
pnpm-lock.yaml
*.lock

# production
Dockerfile
.dockerignore

# local env files
.env
.env.*.local

# git
.git
.gitignore
.gitattributes

# editor & system
.vscode
.idea
.DS_Store
*.swp
